<script type="text/javascript">
	RED.nodes.registerType('event-node',
	{
		category: 'function',
		color: '#a6bbcf',
		defaults: 
		{
			name:{value:""},
			idx:{value:""},
			ereignis:{value:""},
			atext:{value:""},
			url:{value:""}
		},
		
		inputs:1,
		 outputs:1,
		 icon: "file.png",
		 label: function() 
		 {
            return this.name||"event-node";
        }
	});
</script>

<script type="text/html" data-template-name="event-node">

	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	
	<div class="form-row">
		<label for="node-input-idx"><i class="icon-tag"></i> ID</label>
		<input type="text" id="node-input-idx" >
	</div>
	
	<div class="form-row">
		<label for="node-input-ereignis"><i class="icon-tag"></i> Event</label>
		<input type="text" id="node-input-ereignis" >
	</div> 
	
	<div class="form-row">
		<label for="node-input-atext"><i class="icon-tag"></i> Text</label>
		<input type="text" id="node-input-atext" >
	</div> 
	
	<div class="form-row">
		<label for="node-input-url"><i class="icon-tag"></i> Url</label>
		<input type="text" id="node-input-url" >
	</div> 
</script>

<script type="text/html" data-help-name="event-node">
    <p>lol</p>
</script>