<script type="text/javascript">
	RED.nodes.registerType('status-node',
	{
		category: 'function',
		color: '#a6bbcf',
		defaults: 
		{
			name:{value:""},
			idx:{value:""},
			line:{value:""},
			amod:{value:""},
			state:{value:""},			
			atext:{value:""},
			url:{value:""}
		},
		
		inputs:1,
		 outputs:1,
		 icon: "file.png",
		 label: function() 
		 {
            return this.name||"status-node";
        }
	});
</script>

<script type="text/html" data-template-name="status-node">

	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	
	<div class="form-row">
		<label for="node-input-idx"><i class="icon-tag"></i> ID</label>
		<input type="text" id="node-input-idx" >
	</div>
	
	<div class="form-row">
		<label for="node-input-line"><i class="icon-tag"></i> Line</label>
		<input type="text" id="node-input-line" >
	</div> 
	
	<div class="form-row">
		<label for="node-input-amod"><i class="icon-tag"></i> Module</label>
		<input type="text" id="node-input-amod" >
	</div> 
	
	<div class="form-row">
		<label for="node-input-state"><i class="icon-tag"></i> State</label>
		<input type="checkbox" id="node-input-state"  style="display: inline-block; width: auto; vertical-align: top;">
	</div> 
	
	<div class="form-row">
		<label for="node-input-atext"><i class="icon-tag"></i> Text</label>
		<input type="text" id="node-input-atext" >
	</div> 
	
	<div class="form-row">
		<label for="node-input-url"><i class="icon-tag"></i> Url</label>
		<input type="text" id="node-input-url" >
	</div> 
</script>

<script type="text/html" data-help-name="status-node">
    <p>lol</p>
</script>